{% extends "base.html" %}

{% block main %}
<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4" style="max-width: 80px; background-color: {{ equipe.cor }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{ equipe.colaborador_id }}</h2>
          <span class="card-text">{{ equipe.sku }}</span><BR>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <a class="btn btn-primary" href="/equipe/{{ equipe.id }}/add" role="button">+ Adicionar Colaborador</a>
          <h2 class="card-title">Membros</h2>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for m in membros %}
              <tr>
                <td>{{ m.colaborador_id }}</td>
                <td>
                  <form action="/equipe/{{ m.id }}/remove" method="post">
                    <button type="submit" class="btn-link">Remover</button>
                </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
